# TRAMP history
tramp

# Emacs temporary files
*~

# Local package archive
elpa/*

# lsp-mode files
.lsp-session-v1

# Projectile
projectile-bookmarks.eld

# auto-package-update artifacts
.last-package-update-day
