# TRAMP history
tramp

# Emacs temporary files
*~
transient/*

# Local package archive
elpa/*

# lsp-mode files
.lsp-session-v1
lsp-cache/*

# Projectile
projectile-bookmarks.eld

# auto-package-update artifacts
.last-package-update-day
